
[core]
    filemode = false
    editor = /usr/bin/vi

[color]
    ui = true
    pager = true

[color "branch"]
    current = red reverse
    local = green
    remote = yellow

[color "diff"]
    meta = green
    frag = yellow
    old = magenta
    new = cyan

[color "status"]
    header = bold blue
    added  = green
    changed = bold red
    untracked = bold yellow
[push]
    default = current

[alias]
    br = branch
    st = status
    ci = commit
    df = diff
    co = checkout
    cob = checkout -b

    # commons
    cm = commit -m
    s = status -s
    cp = cherry-pick -x
    bl = blame --date=short -w
    amend = commit --amend

    # quick logs
    l = log --graph --decorate --pretty=format:'%Cred%H%Creset - %Cgreen%cd%Creset -%C(yellow)%d%Creset %s %C(bold blue)%an%Creset %C(magenta)<%ae>%Creset' --date=short
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    ls = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    
    # aliases
    aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'

    # stash
    sl = stash list
    sa = stash apply
    ss = stash save

    # branches
    bclean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs -r git branch -d; }; f"
    bdone = "!f() { git checkout ${1-master} && git up && git bclean ${1-master}; }; f"

    #stats
    cpt-commit = shortlog -sne

    subup = !git submodule update && git submodule foreach "git pull origin master"
    up = !git pull --rebase --prune $@ && git submodule update --init --recursive
    push-clean = !git push && git repack && git prune
