
[core]
    filemode = false
    editor = /usr/bin/vi

[color]
    ui = true
    pager = true

[color "branch"]
    current = red reverse
    local = green
    remote = yellow

[color "diff"]
    meta = green
    frag = yellow
    old = magenta
    new = cyan

[color "status"]
    header = bold blue
    added  = green
    changed = bold red
    untracked = bold yellow
[push]
    default = current

[alias]
    # svn
    st = status
    df = diff
    co = checkout
    ci = commit
    br = branch
    
    # commons
    cm = commit -m
    s = status -s
    cp = cherry-pick -x
    bl = blame --date=short -w

    # quick logs
    l = log --graph --decorate --pretty=format:'%Cred%H%Creset - %Cgreen%cd%Creset -%C(yellow)%d%Creset %s %C(bold blue)%an%Creset %C(magenta)<%ae>%Creset' --date=short
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    ls = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    
    # aliases
    aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'

    # stash
    sl = stash list
    sa = stash apply
    ss = stash save

    #stats
    cpt-commit = shortlog -sne

